<!DOCTYPE html>
<html>
  <head>
    <title>AggieMaps</title>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"/>
  </head>
  <body>
    <!-- Banner
    <div id="banner-wrapper">
      <header id="banner">
        <h1>AggieMaps</h1>
      </header>
    </div> -->

    <!-- Sidebar -->
    <div id="sidebar">
      <div class="media">
        <div class=media-body>
          <h1 class="media-heading" id=heading>BusIt</h1>
        </div>
        <span class="media-right">
            <img id=spirit-bus src="{%static '/images/white_spirit_bus.png'%}" alt="" >
          </span>
      </div>
      <ul>
        <li id="input">
          <form action="" method="POST">
            {% csrf_token %}  
            {{ form }}
            <input class="btn btn-success" type="submit" value="Gig 'em!">

          <!-- <li id="input">
            Enter Origin: 
            <input id="pac-input" type="text">
            <input type="submit" text="submit">
          -->
          </form>
 
        </li>
      </ul>
      {% if best_bus != 0 %}
      <div id="msg">
        Take bus {{ best_bus }}
        <br/>
        <br/>
        Get on at {{ start_bus }}
        <br/>
        Get off at {{ stop_bus }}
        <br/>
        Distance to destination is:
        <br/>
      </div> 
      {% endif %}
    </div>

    <!-- Map -->
    <div id="map"></div>

    <!-- Travel Info -->
    <script type="text/javascript">
      orig_lat = {{orig_lat}};
      orig_lng = {{orig_lng}};
      dest_lat = {{ dest_lat }};
      dest_lng = {{ dest_lng }};
      start_loc = {{ start_loc }};
      stop_loc = {{ stop_loc }};
    </script>
    <script src="{% static '/js/route.js' %}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxn9JtPSWjxomjxr4Xo8ZYk8opAO0aZMw&callback=initMap">
    </script>
  </body>
</html>