<!DOCTYPE html>
<html>
  <head>
    <title>AggieMaps</title>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"/>
  </head>
  <body>
    <!-- Banner
    <div id="banner-wrapper">
      <header id="banner">
        <h1>AggieMaps</h1>
      </header>
    </div> -->

    <!-- Sidebar -->
    <div id="sidebar">
      <h1 id=heading>AggieRoutes</h1>
      <ul>
        <li id="input">
          <form action="" method="POST">
            {% csrf_token %}  
            {{ form }}
            <input type="submit" value="ok">
          <!-- <li id="input">
            Enter Origin: 
            <input id="pac-input" type="text">
            <input type="submit" text="submit">
          -->
        </form>
        </li>
      </ul>

      <div id="msg">
        Distance to destination is:
        <br/>
      </div> 
    </div>

    <!-- Map -->
    <div id="map"></div>

    <!-- Travel Info -->
    <script type="text/javascript">
      orig_lat = {{orig_lat}};
      orig_lng = {{orig_lng}};
      dest_lat = {{ dest_lat }};
      dest_lng = {{ dest_lng }};
      console.log(dest_lat);
    </script>
    <script src="{% static '/js/route.js' %}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxn9JtPSWjxomjxr4Xo8ZYk8opAO0aZMw&callback=initMap">
    </script>
  </body>
</html>